# WhatsApp & Facebook Config (Change to your phone number & link)
NEXT_PUBLIC_WHATSAPP_NUMBER=201021510826
NEXT_PUBLIC_FACEBOOK_URL=https://www.facebook.com/share/1NbRrA56uz/

# Admin Credentials for /admin
ADMIN_USERNAME=admin
ADMIN_PASSWORD=aistudio2026

# Auth Secret
JWT_SECRET=ai-studio-super-secret-key-2026
